body {
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.788);
}

header {
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  color: #FFFFFF;
  padding: 1em;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 2em;
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 400px;
}

h1, h2 {
  color: #2989d8;
}

#home {

}

#contato {
  
}

#sobre {
  color: white;
}

#sobre p {
  position: relative;
  width: 950px;
}

#sobre img {
  width: 300px;
  height: 400px;
  float: left;
  padding: 0 15px 0 15px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

#projetos h2 {
  position: relative;
  font-size: 2.0em;
  margin-bottom: 0;
  left: 5%;
}

.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  padding-left: 160px;
  padding-top: 50px;
  position: relative;
  left: 7%;
}

.projeto img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.projeto h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #c7c7c7;
  margin-bottom: 0;
}

.projeto p {
  font-size: 14px;
  color: #666;
  text-align: center;
  justify-content: center;
}

.clear {
  clear: both;
}

footer {
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  color: #FFFFFF;
  text-align: center;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width:1440px) {
  body {
    width: 1440px;
  }

  section {
    width: 1440px;
  }

}